version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: server
      APP_PORT: 3334
      PROXY_AUTH_WHITELIST: "/api/*"

  server:
    image: iemanuel18/party-pool:latest
    hostname: pool-party
    restart: on-failure
    stop_grace_period: 30s
    init: true
    expose:
      - "3334"
    volumes:
      - "${APP_DATA_DIR}/data:/app/data"
    environment:
      # Bitcoin node connection (provided by Umbrel)
      - APP_BITCOIN_NODE_IP=${APP_BITCOIN_NODE_IP}
      - APP_BITCOIN_RPC_PORT=${APP_BITCOIN_RPC_PORT}
      - APP_BITCOIN_RPC_USER=${APP_BITCOIN_RPC_USER}
      - APP_BITCOIN_RPC_PASS=${APP_BITCOIN_RPC_PASS}
      - APP_API_PORT=3334
